%%

{deps, [
    %% common
    {lager                 , ".*" , {git, "git://github.com/basho/lager.git"                   , {tag, "2.0.0"}    }},
    {gproc                 , ".*" , {git, "git://github.com/uwiger/gproc.git"                  , {tag, "v0.2.10"}  }}
]}.

{lib_dirs, [
    apps,
    deps
]}.

{sub_dirs, [
    "apps",
    "rel"
]}.

{clean_files, ["*.eunit"]}.

{post_hooks, [
    {'get-deps', "./patches/run.sh"}
]}.

{erl_opts, [
    warn_missing_spec,
    {parse_transform, lager_transform}
]}.

